@page "/AddService"
@inject BarberShopContext ef
@using BarberShop.Models
@using BarberShop.DataBase

@rendermode InteractiveServer

<EditForm FormName="formAddItem" Model="_service" OnValidSubmit="@Submit" class="form">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <p>Название услуги</p>
    <input type="text" class="input" @bind-value="_service.Title"/>
    <p>Описание услгуи</p>
    <input type="text" class="input" @bind-value="_service.Description"/>
    <p>Цена услуги</p>
    <input type="text" class="input" @bind-value="_service.Price"/>
    <button type="submit">ДОБАВИТЬ УСЛУГУ</button>
</EditForm>

<table class="tab">
    @foreach (var item in ef.Servicess
                  .OrderBy(x=>x.Title)
                  .ToList())
    {
    <tr>
        <td class="tab-td">@item.Title</td>
        <th class="tab-td"><a href="@($"/EditService/{@item.Id}")" class="tab-a">ИЗМЕНИТЬ ИГРУ</a></th>
    </tr> 
    }
</table>
@code {
    private Service _service = new Service();
    
    public async Task Submit(EditContext args)
    {
        await ef.AddAsync(_service);
        await ef.SaveChangesAsync();
        _service = new Service();
    }
}