@page "/EditMaster/{id:int}"
@using BarberShop.Models
@inject NavigationManager NavigationManager
@using BarberShop.DataBase
@using Microsoft.AspNetCore.Http.HttpResults
@inject BarberShopContext ef
@rendermode InteractiveServer
@if (_master is not null)
{
    <EditForm FormName="formAddItem" Model="_master" OnValidSubmit="@SaveMaster" class="form">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <p>Имя мастера</p>
        <input type="text" class="input" @bind-value="_master.Name"/>
        <p>Профессия мастера</p>
        <input type="text" class="input" @bind-value="_master.Profession"/>
        <p>Опыт работы</p>
        <input type="text" class="input" @bind-value="_master.Experience"/>
        <button type="submit">ИЗМЕНИТЬ МАСТЕРА</button>
    </EditForm>
    <div class="btn-div">
            <button @onclick="DeleteMaster" class="btn-delete">УДАЛИТЬ МАСТЕРА</button>
            <button @onclick="GoToEdit" class="btn-delete">ОБРАТНО</button>
    </div>

}

@code {
    private Master _master;
    private string path { get; set; } = "/AddMaster";
    [Parameter]public int Id { get; set; }

    protected override void OnInitialized()
    {
        _master = ef.Masters.FirstOrDefault(x => x.Id == Id) ?? throw new InvalidOperationException();
    }

    protected async Task SaveMaster()
    {
        ef.Update(_master);
        await ef.SaveChangesAsync(); 
        StateHasChanged();
    }

    private async Task DeleteMaster()
    {
        ef.Remove(_master);
        await ef.SaveChangesAsync();
        StateHasChanged();
    }

    private void GoToEdit()
    {
        NavigationManager.NavigateTo(path);
    }

}