@page "/RecordOfService"
@using BarberShop.DataBase
@using BarberShop.Models
@inject BarberShopContext ef
@rendermode InteractiveServer
<EditForm Model="_client" OnValidSubmit="@SaveClient" FormName="FormAddItem">
    <DataAnnotationsValidator></DataAnnotationsValidator>
        <p>Введите своё имя</p>
        <input type="text" class="input" @bind-value="_client.Name"/>
        <p>Введите свой номер телефона</p>
        <input type="text" class="input" @bind-value="_client.Phone"/>
        <p>Введите свою почту</p>
        <input type="text" class="input" @bind-value="_client.Email"/>
        <button type="submit">ДОБАВИТЬ УСЛУГУ</button>
</EditForm>

@code {
    private Client _client = new Client();

    private void SaveClient(EditContext args)
    {
        ef.Add(_client);
        ef.SaveChanges();
        _client = new Client();
    }
}